body{
    background-color: slateblue;
}
header{
        width: 100%;
        height: 15%;
        
        display: flex;
        background-color: rgba(233, 205, 255, 0.432);
        margin-bottom: 50px;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 300px;
}
.titulo{
    width: 400px;

}
.barraMenu{
    display: flex;
    
    margin-left: 100px;
    margin-top: 50px;
}
.objetoMenu{
    width: 150px;
    height: 35px;
    background-color: aqua;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    
}   

    

span{
    display: flex;
}
div{
    font-size: larger;
    font-family: fantasy;
}
.divClass{
    width: 40%;
    border:2px solid;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
    padding-right: 10px;
    margin-bottom: 50px;
}
#imagenPerfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;

}