body{
    background-color: rgb(15, 48, 70);
}
h2,p,h1{
    margin-left: 50px;
}
header{
        width: 100%;
        height: 15%;
        
        display: flex;
        background-color: rgba(155, 168, 197, 0.733);
        margin-bottom: 50px;
        margin-top: 0px;
        border-color: black;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 300px;
}
.titulo{
    width: 400px;

}
.barraMenu{
    display: flex;
    
    margin-left: 100px;
    margin-top: 50px;
}


    

.bloqueGeneral{
    background-color: rgba(155, 168, 197, 0.733);
    width: 900px;
    margin: 0 auto;
    border: 5px solid;
    border-style: outset;
    border-radius: 10px;
    border-color: slateblue;
    
  
}
div{
    font-size: larger;
    font-family: fantasy;
}
.divClass{
    width: 600px;
    border:2px solid;
    margin: 10px auto;
    border-style: inset;
    border-radius: 10px;
    border-color: slateblue;

    
}
.perfilImagen{
    width: 500px;
    margin: 10px auto;
    border: 1px solid;
    display: flex
}
#imagenPerfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.tituloRedes{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.redesSociales{
    width: 100%;
    margin-left: 100px;
    margin-bottom: 50px;

}
.bi{
    font-size: 60px;
    margin: 10px 20px;
}
